@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800&family=Mukta:wght@300;400;500;700;800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --border-radius: 4px;
  --white: #fff;
  --black: #000;
}

body {
  font-family: Arial, Helvetica, Sans-serif;
  font-family: 'Inter', sans-serif;
  background-color: #f8f8f8;
}

img {
  width: 100%;
  /* max-height: 100%; */
  border-radius: var(--border-radius);
  vertical-align: middle;
  transition: transform 1s ease;

}

h1 {
  font-size: 2em;
}

a {
  text-decoration: none;
  color: var(--black);
}

ul {
  list-style: none;
  padding: 0;
}

p {
  line-height: 1.3;
}

/* .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  margin-top: 0px;


} */

.blog {
  color: #2d3748;
  font-size: 20px;
  margin: 0 1rem 0.5rem 1rem;
}

.featured-article h2 {
  font-size: 40px;
  margin: 10px 0 20px;
}

.featured-article a {
  display: block;
}

.article {
  display: flex;
  flex-direction: column;
  flex: 1;
  transition: transform 250ms ease, box-shadow 250ms ease, color 250ms ease;
  box-shadow: 1px 1px 5px 0 rgb(1 1 1 / 5%);
  overflow: hidden;
  height: 100%;
  background-color: #ffffff;
  padding: 10px;
  border-radius:1rem;
}

.details-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;

}

.details-wrapper h2,
.details-wrapper p {
 margin-top: 10px;
 margin-bottom: 10px;

}

.tags {
  margin-top: auto;
}


.article span,
.article a {
  display: block;
}

/* .article:hover img {
  transform: scale(1.15);
} */

.article:hover {
    -webkit-transform: translateY(-0.25rem);
    -ms-transform: translateY(-0.25rem);
    transform: translateY(-0.25rem);
    box-shadow: 0px 2px 4px rgba(46, 41, 51, 0.08),
      0px 5px 10px rgba(71, 63, 79, 0.16);
}

.article .img-wrapper {
  overflow: hidden;
  margin-bottom: 10px;
  border-radius: 10px;
  /* border: 1px solid red; */
}


.tags li {
  display: inline-block;
  margin: 0 10px 5px 0;
  vertical-align: middle;
}

.tags svg {
  margin-right: 5px;
}

.tags a {
  display: flex;
  align-items: center;
  color: #718096;
  padding: 8px;
  border-radius: 5px;
}

.tag-section {
  text-align: center;
  margin: 40px 0;
}

.tag-section a {
  display: block;
  text-align: center;
  padding: 30px 0;
  border-radius: 5px;
}

.tag-section svg,
.tag-section span {
  display: block;
  margin: auto;
}

.tag-section svg {
  height: 80px;
  width: 80px;
  margin-bottom: 15px;
}

.tag-section path,
.tags path {
  fill: var(--white);
}

.tag-section span {
  font-size: 18px;
  color: var(--white);
}

.tag-section ul {
  display: grid;
  grid-gap: 30px;
}




@media screen and (min-width: 420px) {
  .tag-section ul {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
  }

  /* .wrapper {
  display: flex;

  max-width: 1200px;
  margin: 0 auto;
  flex-direction: column;
} */

}

@media screen and (min-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
  /* .wrapper {
  display: flex;

  max-width: 1200px;
  margin: 0 auto;
  flex-direction: column;
} */

.blog {

  font-size: 40px;

}
}



@media screen and (min-width: 1024px) {
  h1 {
    font-size: 6em;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }

  /* .wrapper {
  display: flex;

  max-width: 1200px;
  margin: 0 auto;
  flex-direction: row-reverse;
} */


  .featured-article {
    grid-column: span 3 / auto;
    display: flex;
    justify-content: flex-start;
  }

  .featured-article .img-wrapper {
    margin-right: 30px;
    width: 70%;
  }

  .tag-section {
    grid-column: span 3 / auto;
  }

  .tag-section ul {
    grid-template-columns: repeat(6, 1fr);
  }
}

article,
.tag-section {
  content-visibility: auto;
  contain-intrinsic-size: 0 470px;
}

/************PAGINATION**************************/

.paginationBttns {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 40px;
  margin: 50px auto;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #718096;
  color: #2d3748;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: white;
  background: #718096;
}

.paginationActive a {
  color: white;
  background: #718096;
}

.paginationDisabled a {
  color: white;
  background: #718096;
}

.btn-main_page {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: none;
  color: white;
  background: linear-gradient(
    45deg,
    rgb(46, 97, 112) 0%,
    rgb(67, 140, 163) 100%
  );
  cursor: pointer;
  font-family:inherit;
  font-size: 20px;
}


/****************************tags***/

/* .tag-db {
  background: linear-gradient(
    45deg,
    hsla(194, 42%, 31%, 1) 0%,
    hsla(194, 42%, 45%, 1) 100%
  );
}

.tag-js {
  background: linear-gradient(
    45deg,
    hsla(32, 100%, 67%, 1) 0%,
    hsla(32, 100%, 78%, 1) 100%
  );
}

.tag-css {
  background: linear-gradient(
    45deg,
    hsla(206, 73%, 50%, 1) 0%,
    hsla(206, 100%, 76%, 1) 100%
  );
}

.tag-array {
  background: linear-gradient(
    45deg,
    hsla(0, 100%, 67%, 1) 0%,
    hsla(0, 100%, 84%, 1) 100%
  );
}

.tag-node {
  background: linear-gradient(
    45deg,
    hsla(147, 62%, 32%, 1) 0%,
    hsla(147, 100%, 70%, 1) 100%
  );
}

.tag-react {
  background: linear-gradient(
    45deg,
    hsla(207, 63%, 32%, 1) 0%,
    hsla(207, 100%, 69%, 1) 100%
  );
} */


.tag-db,
.tag-js,
.tag-css,
.tag-array,
.tag-node,
.tag-react,
.tag-typescript {
  background-color: #e2e8f0;
  color: #718096;
  transition: all 250ms ease;
  line-height: 25px;
  font-size: 12px;
  font-weight: 600;
}

.tag-db:hover,
.tag-db:hover,
.tag-js:hover,
.tag-css:hover,
.tag-array:hover,
.tag-node:hover,
.tag-react:hover,
.tag-typescript:hover {
  color: #fff;
    background: #718096;
}


.articles-counter {
  display: inline-block;
  text-align: center;
  width: 50px;
  color: #fff;
  background: #718096;
  padding: 5px;
  border-radius: 5px;
  font-weight: 600;
}

.articles-not-found {
  color: red;
  font-size: 20px;
}

.total-articles-counter {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 50px;
font-size: 13px;
  text-align: center;
  width: 30px;
  color: #fff;
  background: #718096;
  padding: 5px;
  border-radius: 5px;
  font-weight: 600;
}

